fitz==0.0.1.dev2
Pillow==8.4.0
pytesseract==0.3.8
regex==2021.10.8
stringcase==1.2.0
transformers==4.10.3
streamlit==1.8.0
tempfile==1.0.1
pathlib==1.0.1
SpeechRecognition==3.8.1
pytube==11.0.1
requests==2.26.0
moviepy==1.0.3
